@import '../variables';

form {
  margin: 5% 10% 0 10%;
}

.search {
  display: flex;
  flex-direction: row;
  
}

.nav-bar h3 {
  margin-top: 0;
}

h2 {
  color: $gold
}

input {
  height: 32px;
  width: 246px;
  border: $forest;
  padding: 0 2%;
}

.searchImg {
  height: 32px;
  background-color: $gold;
}