@import '../variables';
@import '../mixins.scss';


article {
  display: flex;
  flex-flow: column;
  align-items: center;
}

article h2 {
  text-align: center;
  font-size: 1.8em;
}

.movie-card {
  margin-top: 2%;
  @include flex-column-center;
  margin: 10% 4% 0 4%;
  width: 15%;
  text-decoration: none;
  cursor: pointer;
}

.movie-card h2 {
  color: $search;
}

.movie-card h2 p div{
  margin-bottom: 0;
}

.movie-card p {
  position: absolute;
  margin-top: 43px;
  margin-left: 19px;
  font-size: 1.5em;
  text-align: center;
}


.movie-img {
  width: 100%;
  box-shadow: 4px 5px 4px 1px black;
  border-radius: 4px;
}

.movie-card:hover {
  transform: scale(1.1);
}

.movie-card:hover h2 {
  color: $gold;
}

.toms-back {
  height: 90px;
  width: 90px;
  background-color: transparent;
}

.tomato-rating {
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: row;
  color: black;
}

@media only screen and (max-width: 1300px) {
  .movie-card {
    width: 23%;
  }
}

@media only screen and (max-width: 900px){
  .movie-card {
    width: 30%;
  } 
}

@media only screen and (max-width: 600px){
  .movie-card {
    width: 60%;
  }
}


  