@import '../variables';

h3, h1 {
  // margin-left: 10%;
}

.nav-bar h3 {
  color: $forest;
  color: #184d47;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-size: 2em;
  font-family: 'Bungee', cursive;
}

.home-link h1 {
  margin: 0;
  width: fit-content;
  background-color: transparent;
}

.home-link {
  width: 366px;
  text-decoration: none;
  display: inline-block;
  margin: 1em;
  background-image: linear-gradient(#184d47, #184d47), linear-gradient(transparent, transparent);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
  text-align: -webkit-center;
}

.home-link:hover {
  background-size: 100% 5px, auto;
}

.nav-bar {
  background-color: $pickle;
  display: flex;
  flex-direction: column;
}

.home-btn {
  height: 125px;
  width: 125px;
  background-color: transparent;
  cursor: pointer;
  align-self: flex-end;
}

.btn-animation:hover {
  transform: scale(1.1);
  border: black;
}

.nav-title {
  display: flex;
  place-items: center;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}

.nav-title h3, h1 {
  color: $forest;
}

.btn-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3%;
  align-items: flex-end;
}

@media only screen and (max-width: 900px) {
  p {
    margin-top: 0;
    font-size: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  .home-btn {
    width: 100px;
    height: 100px;
  }

  .nav-title {
    align-items: center;
  }

 

}


@media only screen and (max-width: 600px) {
  .home-btn {
    width: 75px;
    height: 75px;
  }

  .nav-title {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar h3 {
    text-align: -webkit-center;
    color: $forest;
  }

  .btn-container{
    align-items: center;
  }
}
