@import '../variables';

h3, h1 {
  margin-left: 10%;
}

h1 {
  font-size: 2em;
  font-family: 'Bungee', cursive;
}

.home-link {
  text-decoration: none;
}

.nav-bar {
  background-color: $pickle;
  display: flex;
}

.home-btn {
  height: 125px;
  width: 125px;
  background-color: transparent;
  cursor: pointer;
  align-self: flex-end;
}

.home-btn:hover {
  transform: 1.1;
}

.nav-title {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-decoration: none;
}

.nav-title h3, h1 {
  color: $forest;
}

.btn-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 3%;
}

@media only screen and (max-width: 900px) {
  p {
    margin-top: 0;
    font-size: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  .home-btn {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .home-btn {
    width: 75px;
    height: 75px;
  }
}
