@import '../variables';
@import '../mixins.scss';

.movie-page h1 {
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
}

.movie-page p {
    width: 60%;
    font-weight: 700;
}

.movie-page li {
    width: 40%;
    margin: 0 5%;
}

.movie-page h2 {
    margin: 2%;
    text-align: center;
}

.movie-page {
    @include flex-column-center;
    justify-content: center;
    margin: 5% 20%;
    color: $forest;
    background-color: $light-green;
    box-shadow: 7px 9px black;
    border-radius: 5px;
}

.movie-backdrop {
    width: 90%;
    margin-top: 5%;
    border-radius: 5px;
}

.movie-specs {
    display: flex;
    justify-content: space-around;
    margin: 5%;
    font-size: 1.5em;
    flex-wrap: wrap;
}

.movie-page h1 {
    font-size: 3.5em;
}

.movie-trailer {
    border-style: none;
    padding-bottom: 5%;
    width: 750px;
    height: 425px;
}

.loading-message {
    color: $gold;
    text-align: center;
    margin: 5%;
}

@media only screen and (max-width: 1400px) {
    .movie-trailer {
        width: 600px;
        height: 350px;
    }
}

@media only screen and (max-width: 1200px) {
    .movie-trailer {
        width: 500px;
        height: 285px;
    }
}

@media only screen and (max-width: 900px){
    .movie-page li {
        font-size: small;
    }

    .movie-page p {
        margin-top: 5%;
    }

    .movie-page {
        margin: 5% 10%;
    }
}

@media only screen and (max-width: 700px) {
    .movie-trailer {
        width: 300px;
        height: 175px;
    }
    .movie-page h1 {
        font-size: 2em;
    }

    .movie-page p {
        font-size: small;
    }
}

@media only screen and (max-width: 400px) {
    .movie-trailer {
        width: 250px;
        height: 150px;
    }
}
