@import '../variables';

.movie-page h1 {
    margin-bottom: 0;
}

.movie-page p {
    width: 60%;
    margin-top: 0;
    font-weight: 700;
}

.movie-page li {
    width: 40%;
    margin: 0 5%;
}

.movie-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    color: $dark-blue;
    align-items: center;
    background-color: $dark-white;
    box-shadow: 7px 9px black;
    border-radius: 5px;
}

.movie-backdrop {
    width: 95%;
    margin-top: 2.5%;
    border-radius: 5px;
}

.movie-specs {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5%;
    font-size: 1.5em;
    flex-wrap: wrap;
}

.movie-page h1 {
    font-size: 3.5em;
}

.movie-trailer {
    border-style: none;
    padding-bottom: 40px;
}

@media only screen and (max-width: 900px){
    .movie-trailer {
        width: 500px;
        height: 285px;
    }

    .movie-page li {
        font-size: small;
    }
}
@media only screen and (max-width: 600px){
    .movie-page h1 {
        font-size: 2em;
    }
    .movie-page p {
        font-size: small;
    }
    .movie-trailer {
        width: 350px;
        height: 200px;
    }
}