@import 'variables';


.nav-bar {
  background-color: #bbbfca;
  height: 15vh;
  display: flex;
  justify-content: space-around;
}

.home-btn {
  margin: 2%;
  height: 46px;
  width: 100px;
  background-color: #f4f4f2;
  color: #495464;
  border-radius: 3px solid transparent;
  border: 0px;
  cursor: pointer;
  align-self: flex-end;
  border-radius: 5px;
}

.home-btn:hover {
  background-color: #495464;
  color: #f4f4f2;
}

.nav-title {
  display: flex;
  flex-direction: column;
}

.btn-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}