
.nav-bar {
  background-color: #bbbfca;
  height: 15vh;
  display: flex;
  justify-content: space-around;
}

.home-btn {
  margin: 2%;
  height: 46px;
  width: 70px;
  background-color: #fff;
  color: black;
  border-radius: 3px solid transparent;
  border: 0px;
  cursor: pointer;
  align-self: flex-end;
}

.home-btn:hover {
  margin: 2%;
  height: 46px;
  width: 70px;
  background-color: black;
  color: #fff;
  border: 0px;
}

.nav-title {
  display: flex;
  flex-direction: column;
}

.btn-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}